# Skill 2
#### Add and Remove Columns

The entry point into all functionality in Spark is the SparkSession class. To create a basic SparkSession, just use SparkSession.builder:
from pyspark.sql import SparkSession

In [ ]:
# Get a Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('cloudanum').getOrCreate()

In [ ]:

    triplets = [("alex","Ames", 20),\
                ("alex", "Sunnyvale",30),\
                ("alex", "Cupertino", 40),\
                ("mary", "Ames", 35),\
                ("mary", "Stanford", 45),\
                ("mary", "Campbell", 55),\
                ("jeff", "Ames", 60),\
                ("jeff", "Sunnyvale", 70),\
                ("jane", "Austin", 80)]

Print the triplets

In [ ]:
    print("triplets = ", triplets)

Create a new Dataframe

In [ ]:
    df = spark.createDataFrame(triplets, ["name", "city", "age"])
    print("df.count(): ", df.count())
    print("df.collect(): ", df.collect())
    df.show()
    df.printSchema()

    #========================================
    # DataFrame.withColumn(colName, col)
    #
    # Returns a new DataFrame by adding a column 
    # or replacing the existing column that has 
    # the same name.
    #
    # The column expression must be an expression 
    # over this DataFrame; attempting to add a column 
    # from some other dataframe will raise an error.
    #
    # Parameters:	
    #   colName - string, name of the new column.
    #   col - a Column expression for the new column.
    #
    #========================================

In [ ]:
    df2 = df.withColumn('age2', df.age + 2)
    df2.show()
    df2.printSchema()

    #========================================
    # DataFrame.drop(*col)
    #
    # drop(*cols)
    # Returns a new DataFrame that drops the specified column. 
    # This is a no-op if schema doesn't contain the given column 
    # name(s).
    #
    # Parameters:	
    #    cols - a string name of the column to drop, or a 
    #           Column to drop, or a list of string name of 
    #           the columns to drop.
    #
    #========================================

In [ ]:
    #-----------------------------------------
    # drop a column named 'city'
    #-----------------------------------------
    df2 = df.drop('city')
    df2.show()
    df2.printSchema()

## To do

In [ ]:
import pandas as pd
df = spark.createDataFrame(pd.read_csv("https://storage.googleapis.com/neurals/data/taxi2.csv",header='infer'))
df.toPandas().head()

### Task 1: 
The trip distance is in miles.
Can you add a new column name trip_distance_km that converts miles in kms?

### Task 2:

In [ ]:
Can you remove the original trip_distance column?

In [ ]:
Can you remove the original trip_distance column