# Skill 6
#### Learning Spark SQL

The entry point into all functionality in Spark is the SparkSession class. To create a basic SparkSession, just use SparkSession.builder:
from pyspark.sql import SparkSession

In [ ]:
# Get a Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('cloudanum').getOrCreate()

In [ ]:
    triplets = [("alex","Ames", 20),\
                ("alex", "Sunnyvale",30),\
                ("alex", "Cupertino", 40),\
                ("mary", "Ames", 35),\
                ("mary", "Stanford", 45),\
                ("mary", "Campbell", 55),\
                ("jeff", "Ames", 60),\
                ("jeff", "Sunnyvale", 70),\
                ("jane", "Austin", 80)]
print("triplets = ", triplets)

In [ ]:
    df = spark.createDataFrame(triplets, ["name", "city", "age"])
    print("df.count(): ", df.count())
    print("df.collect(): ", df.collect())
    df.show()
    df.printSchema()

   #-----------------------------------------
    # Register a DataFrame as a Table
    #-----------------------------------------

In [ ]:
df.createOrReplaceTempView("people")

    #-----------------------------------------
    # Query: SELECT * FROM people
    #-----------------------------------------

In [ ]:
df2 = spark.sql("SELECT name, city, age FROM people")
df2.show()

    #-----------------------------------------
    # Query: SELECT * FROM people where age > 62
    #-----------------------------------------

In [ ]:
df3 = spark.sql("SELECT name, city, age FROM people WHERE age > 62 ")
df3.show()

    #-----------------------------------------
    # Query: SELECT name, count(*) FROM people GROUP BY "name"
    #-----------------------------------------

In [ ]:
df4 = df.groupBy(['name']).count()    
df4.show()

    #-----------------------------------------
    # Query: SELECT name, count(*) FROM people GROUP BY "name"
    #-----------------------------------------

In [ ]:
df5 = spark.sql("SELECT name, count(*) as namecount FROM people GROUP BY name")   
df5.show()

# To-do
Consider the following dataframe

In [ ]:
import pandas as pd
df = spark.createDataFrame(pd.read_csv("https://storage.googleapis.com/neurals/data/taxi2.csv",header='infer'))
df.toPandas().head()

Task 1: Can you filter out rows where passenger count is more than 4

Task 2: Can you filter out rows where amount of fare is more than $15? How many such rows are there?